.counter-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.number-counter{
    border: solid 3px black;
    padding: 10px;
    font-size: xx-large
}

.button-container{
    display: flex;
    justify-content: space-evenly;
}

.subtract-button, .add-button{
    width:50px;
    height:50px;
    font-size: xx-large;
    border: solid 3px black;
}